body {
    background: url(kvet.png) fixed;
    background-size: cover;
    margin: auto;
    width: 90%;
    font-family: sans-serif;

}

header {
    
    padding-top: 10px;
    padding-left: 20px;
    background-color: pink;
    color: rgb(75, 75, 75);
    margin-top: 10%;
    opacity: 0.80;
    filter: alpha(opacity=80);
    z-index: 1;
}

main {
    margin:auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-top: 5px solid rgb(75, 75, 75);
}


footer {
    padding: 10px;
    background-color: pink;
    color: rgb(156, 156, 156);
    margin-bottom: 130px;
    opacity: 0.80;
  filter: alpha(opacity=80);
}

ul {
    list-style-type: none;
    margin: auto;
    margin-top: auto;
    padding: 10;
    overflow: hidden;
    background-color: pink;
}

li {
    float: right;
}

li a {
    margin: auto;
    margin-top: 10px;
    display: block;
    color: rgb(75, 75, 75);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

li a:hover {
    color: rgb(255, 255, 255);
}

li:first-child {
    float: left;
}

li:first-child a:hover {
    color: rgb(255, 255, 255);
}

h3{
    float:right;
}

table{
    width:95%;
    border: 1px solid pink;
    margin: 10px;
    margin-top: 40px;
    color: black;
    margin: auto;
}

th{
    background-color: dimgrey;
    color: white;
}

tr:first-child{
    background-color: pink;
}
