p, label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    font-size: 2em;
    margin: auto;
}

input,
label {
    margin: auto;
    
}
body {
    background: rgb(0, 0, 0) fixed;
    background-size: cover;
    margin-left: 30px;
    margin-right: 30px;
    font-family: sans-serif
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    background-color: rgb(146, 212, 250);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
}

.styled:hover {
    background-color: rgba(146, 212, 250);
}

.styled:active {
    color:pink;
}

main {
    border-radius: 25px;
    margin: auto;
    margin-top: 10%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 30%;
}
